= render "devise/shared/header"
.MainContents
  .AddressesContents  
    .Address
      .Address__field
        .Address__field--header
          住所情報登録
        .Address__field--main
          .Address__field--main--contents
            = form_with model: @address, url: addresses_path, method: :post, id: 'new_address', class: 'new_address', local: true do |form|
              = devise_error_messages!
              .FormField
                .FormField__label
                  = form.label :郵便番号（半角）
                  %span.Required__field--logo 必須
                .FormField__input
                  = form.text_field :post_code, class: 'FormField__input__postcode', placeholder: "例）123-4567", autofocus: true, maxlength: "8"
              .FormField
                .FormField__label
                  = form.label :都道府県
                  %span.Required__field--logo 必須
                .FormField__input
                  = form.collection_select :prefecture_id, Prefecture.where.not(name: '未定'), :id , :name, autofocus: true
              .FormField
                .FormField__label
                  = form.label :市区町村
                  %span.Required__field--logo 必須
                .FormField__input
                  = form.text_field :city, class: 'FormField__input__city', placeholder: "例）横浜市緑区", autofocus: true
              .FormField
                .FormField__label
                  = form.label :番地
                  %span.Required__field--logo 必須
                .FormField__input
                  = form.text_field :house_number, class: 'FormField__input__number', placeholder: "例）青山1-1-1(数字は半角)", autofocus: true
              .FormField
                .FormField__label
                  = form.label :建物名
                  %span.Required__field--logoB 任意
                .FormField__input
                  = form.text_field :building_name, class: 'FormField__input__building', placeholder: "例）柳ビル103(数字は半角)", autofocus: true
              .Actions
              = form.submit '新規登録', class: 'Actions__submit'