.Mypage-main
  %section.Main
    %h2.Main__head 本人登録情報
    %ul.Main__information
      %li.Main__information__group 
        お名前 
        %p.Main__information__group__item 
          = current_user.lastname
          = current_user.firstname
      %li.Main__information__group
        フリガナ 
        %p.Main__information__group__item 
          = current_user.lastname_kana
          = current_user.firstname_kana
      %li.Main__information__group 
        生年月日 
        %p.Main__information__group__item 
          = current_user.birth
      %li.Main__information__group 
        e-mail 
        %p.Main__information__group__item 
          = current_user.email