.allscreens  
  .all
    .Header
      .Header__logo
        購入内容の確認
    .shopping
      - @item.images.each do |image|
        = image_tag image.url.url
      .explanation
        .details__message
          =@item.name
        .price__message
          %span
            =@item.price
            送料込み(税込)
    .payment
      .payment__message
        支払い金額
      .money__messsage
        ￥
        =@item.price 
    .method
      .method__message
        .resistration__card__detail
      .registration__message
        - if @default_card_information.present?
          = "**** **** **** " + @default_card_information.last4
          %br
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        - else
          = link_to 'クレジット登録',new_pay_path, class: "List__item"
    .shipping 
      .shipping__message
        配送先
      .registration__message
        ⊕登録してください
    .input
      .input__message
        配送先と支払い方法の入力を完了してください。
    .purchase
      - if @default_card_information.present?
        = link_to "購入",item_purchases_path(@item.id), method: :post
      - else 
        = link_to "購入","#"
