.allscreens  
  .all
    .Header
      .Header__logo
        購入内容の確認
    .shopping
      = image_tag @item.images[0].url.url,size:"80x107" 
      .explanation
        .details__message
          =@item.name
        .price__message
          %span
            =@item.price
            送料込み(税込)
    .payment
      .payment__message
        支払い金額
      .money__messsage
        ￥
        =@item.price 
    .method
      .method__message
        .detail__message
          クレジットカード情報
      .registration__message
        - if @default_card_information.present?
          = "**** **** **** " + @default_card_information.last4
          %br
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        - else
          = link_to 'クレジットカード登録',new_pay_path, class: "List__item"
    .shipping 
      .detail__message
        配送先
      .registration__message
        =current_user.address.post_code
        %br
        =current_user.address.city
        =current_user.address.house_number
        =current_user.address.building_name
    .purchase
      - if @default_card_information.present?
        = link_to "購入",item_purchases_path(@item.id), method: :post, class:"purchase__btn"
      - else 
        = link_to "クレジット登録して購入", new_pay_path, class:"purchase__btn"
