= render 'items/header'
%nav.category__order
  %ul 
    %li 
      = link_to 'FURIMA', 'items#index' 
    %li 
      %i.fa.fa-angle-right
    %li
      = link_to 'ベビー・キッズ', '#' 
    %li 
      %i.fa.fa-angle-right
    %li 
      = link_to 'ベビー服（男の子用)~95cm', '#' 
    %li 
      %i.fa.fa-angle-right
    %li 
      = link_to 'アウター', '#' 
    %li 
      %i.fa.fa-angle-right
    %li 
      %p 
        ee 
.product__main
  .product__show
    .product__left
    .product__right
      .product__content
        .product__box
          %h2.product__box__name
            =@item.name
          .product__box__body
            %ul 
              %li 
                - @item.images.each do |image| 
                  = image_tag image.url.url,size: "560x346"
                  -if @item.order.present?
                    .items-box_photo__sold
                      .items-box_photo__sold__inner SOLD
          .product__box__price
            %span
              = "¥"
              = @item.price
              %span.price__tax
                = "（税込）"
          .product__detail
            = @item.introduction
          .product__table
            %table
              %body
                %tr 
                  %th 
                    出品者
                  %td 
                    = @item.user.nickname
                %tr 
                  %th 
                    カテゴリー
                  %td 
                    = @item.category.root.name
                    %br
                    = @item.category.parent.name
                    %br
                    = @item.category.name
                %tr 
                  %th 
                    ブランド
                  %td 
                    = @item.brand
                %tr 
                  %th 
                    商品のサイズ
                  %td 
                    = @item.size
                %tr 
                  %th 
                    商品の状態
                  %td 
                    = @item.condition.name
                %tr 
                  %th 
                    配送料の負担
                  %td 
                    = @item.shipping_cost.name
                %tr 
                  %th 
                    発送元の地域
                  %td 
                    = @item.prefecture.name
                %tr 
                  %th 
                    発送日の目安
                  %td 
                    1-2日で発送
          .option__like
            %ul
              %li.like__button
                %i.fa.fa-star 
                  お気に入り 4
            %ul.report
              %li.report__button
                %i.fa.fa-flag
                = link_to '不適切な商品の通報', '#'
          - if user_signed_in? && @item.order.present?  && current_user.id == @item.user_id
            %ul
              %li.btns
                %i.fa.fa-trash-alt
                = link_to '商品を削除する', item_path(@item), method: :delete, class: "delete__btn"
            .purchase__confirmation
              .purchase__confirmation__sold
                売り切れました
          - elsif @item.order.present?
            .purchase__confirmation
              .purchase__confirmation__sold
                売り切れました
          - elsif user_signed_in? && current_user.id == @item.user_id
            %ul
              %li.btns
                %i.fa.fa-trash-alt
                = link_to '商品を削除する', item_path(@item), method: :delete, class: "delete__btn"
              %li.btns
                %i.fa.fa-edit
                = link_to '商品を編集する', edit_item_path, calss: "edit__btn"
          - elsif user_signed_in?
            .purchase__confirmation
              .purchase__confirmation__sell
                = link_to "購入画面に進む",item_purchases_path(@item),  method: :get
          - else 
            .purchase__confirmation
              .purchase__confirmation__sell
                = link_to "新規登録して購入する",new_user_registration_path
        .comment__box
          - if @item.order.present?
          -else
            %ul.comment__content
            %form{action: "#", method:  "post",class:"form",id: "new_comment"}
              %input{name: "utf8", type:  "hidden", value:""}
              %input{name:  "authenticity_token", type:  "hidden", value: ""}
              %textarea{name: "comment[body]", required: "required", id:  "comment_body", class:"comment__area"}
              %p.attention
                相手のことを考え丁寧なコメントを心がけましょう。
                %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br
              %button{name:"button",type: "submit"}
                %i.fa.fa-comment
                コメントする
        %ul.links
          %li
            %i.fa.fa-angle-left
            %span
              = link_to '前の商品', '#'
          %li
            = link_to '後ろの商品', '#'
            %span
            %i.fa.fa-angle-right
        .item__related
          = link_to '新着投稿商品', '#'
        .product__lists
          - @items.each do |item|
            .product__lists__list
              = link_to item_path(item.id) do
                %figure.product__img
                  = image_tag item.images[0].url.url, size: "220x150", class: "images"
              .product__lists__list__item__name
                %h3.item--name 
                  = item.name
                .item--detail
                  %ul 
                    %li 
                      = item.price
                      円
                    %i.fa.fa-star 1
                    %p (税込）
