= render "items/index_header"

.product__main
  .product__show
    .product__left
    .product__right
      .product__content
        .product__box
          %h2.product__box__name
            =@item.name
          .product__box__body
            .product__box__body__main
              %div{class: 'body__main__lists', data: {index:0}, style: "z-index:1;"}
                = image_tag @item.images[0].url.url, width: '300', height: '400'
                -if @item.order.present?
                  .items-box_photo__sold
                    .items-box_photo__sold__inner SOLD
              - if @item.images[1].present?
                %div{class: 'body__main__lists', data: {index:1}, style: "z-index:-1;"}
                  = image_tag @item.images[1].url.url, width: '300', height: '400'
                    - if @item.order.present?
                    .items-box_photo__sold
                      .items-box_photo__sold__inner SOLD
              - if @item.images[2].present?  
                %div{class: 'body__main__lists', data: {index:2}, style: "z-index:-1;"}
                  = image_tag @item.images[2].url.url, width: '300', height: '400'
                    - if @item.order.present?
                    .items-box_photo__sold
                      .items-box_photo__sold__inner SOLD
              - if @item.images[3].present?
                %div{class: 'body__main__lists', data: {index:3}, style: "z-index:-1;"}
                  = image_tag @item.images[3].url.url, width: '300', height: '400'
                    - if @item.order.present?
                    .items-box_photo__sold
                      .items-box_photo__sold__inner SOLD
              - if @item.images[4].present?
                %div{class: 'body__main__lists', data: {index:4}, style: "z-index:-1;"}
                  = image_tag @item.images[4].url.url, width: '300', height: '400'
                    - if @item.order.present?
                    .items-box_photo__sold
                      .items-box_photo__sold__inner SOLD
            .product__box__body__thumbs
              %div{class: 'product__box__body__thumbs__lists' , data: {index:0}}
                =image_tag @item.images[0].url.url, width: '100', height: '100', alt: "pic1", class: "thumbsimage"
              - if @item.images[1].present?
                %div{class: 'product__box__body__thumbs__lists__item' , data: {index:1}}
                  =image_tag @item.images[1].url.url, width: '100', height: '100',alt: "pic2", class: "thumbsimage"
              - if @item.images[2].present?
                %div{class: 'product__box__body__thumbs__lists__item' , data: {index:2}}
                  =image_tag @item.images[2].url.url, width: '100', height: '100', alt: "pic3", class: "thumbsimage"
              - if @item.images[3].present?
                %div{class: 'product__box__body__thumbs__lists__item' , data: {index:3}}
                  =image_tag @item.images[3].url.url, width: '100', height: '100', alt: "pic4", class: "thumbsimage"
              - if @item.images[4].present?
                %div{class: 'product__box__body__thumbs__lists__item' , data: {index:4}}
                  =image_tag @item.images[4].url.url, width: '100', height: '100', alt: "pic5", class: "thumbsimage"
          .product__box__price
            %span
              = "¥"
              = @item.price
              %span.price__tax
                = "（税込）"
          .product__detail
            = @item.introduction
          .product__table
            %table
              %body
                %tr 
                  %th 
                    出品者
                  %td 
                    = @item.user.nickname
                %tr 
                  %th 
                    カテゴリー
                  %td 
                    = @item.category.root.name
                    %br
                    = @item.category.parent.name
                    %br
                    = @item.category.name
                %tr 
                  %th 
                    ブランド
                  %td 
                    = @item.brand
                %tr 
                  %th 
                    商品のサイズ
                  %td 
                    = @item.size
                %tr 
                  %th 
                    商品の状態
                  %td 
                    = @item.condition.name
                %tr 
                  %th 
                    配送料の負担
                  %td 
                    = @item.shipping_cost.name
                %tr 
                  %th 
                    発送元の地域
                  %td 
                    = @item.prefecture.name
                %tr 
                  %th 
                    発送日の目安
                  %td 
                    1-2日で発送
          .option__like
            %ul
              %li.like__button
                %i.fa.fa-star 
                  お気に入り 4
            %ul.report
              %li.report__button
                %i.fa.fa-flag
                不適切な商品の通報
          - if user_signed_in? && @item.order.present?  && current_user.id == @item.user_id
            %ul
              %li.btns
                %i.fa.fa-trash-alt
                = link_to '商品を削除する', item_path(@item), method: :delete, class: "delete__btn"
            .purchase__confirmation
              .purchase__confirmation__sold
                売り切れました
          - elsif @item.order.present?
            .purchase__confirmation
              .purchase__confirmation__sold
                売り切れました
          - elsif user_signed_in? && current_user.id == @item.user_id
            %ul
              %li.btns
                %i.fa.fa-trash-alt
                = link_to '商品を削除する', item_path(@item), method: :delete, class: "delete__btn"
              %li.btns
                %i.fa.fa-edit
                = link_to '商品を編集する', edit_item_path, calss: "edit__btn"
          - elsif user_signed_in?
            .purchase__confirmation
              .purchase__confirmation__sell
                = link_to "購入画面に進む",item_purchases_path(@item),  method: :get, class: "purchase__btn"
          - else 
            .purchase__confirmation
              .purchase__confirmation__sell
                = link_to "新規登録orログイン",new_user_session_path, class: "purchase__btn"
        .comment__box
          %h4 ＜コメント一覧＞
          - if @comments
            - @comments.each do |com|
              .icon
                = link_to com.user.nickname, "/users/#{com.user_id}"
              .test
                = com.comment
              
            %p.attention
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
          - if user_signed_in?
            = form_with(model: [@item, @comment] ,local: true, class:"form",id: "new_comment") do |form|
              = form.text_area :comment, rows: "2", class: "comment__content"
              = form.submit "コメントする", class: "comment__btn" 
          - else
            %strong
              %p.comment__content2 ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
        %ul.links
          %li
            %i.fa.fa-angle-left
            %span
              前の商品
          %li
            後ろの商品
            %span
            %i.fa.fa-angle-right
    .products__box
      .item__related
        新着商品
      .product__lists
        - @items.each do |item|
          .product__lists__list
            = link_to item_path(item.id) do
              %figure.product__img
                = image_tag item.images[0].url.url, size: "220x150"
            .product__lists__list__item__name
              %h3.item--name 
                = item.name
              .item--detail
                %ul 
                  %li 
                    = item.price
                    円
                  %i.fa.fa-star 1
                  %p (税込）
                -if item.order.present?
                  .product-box_photo__solds
                    .product-box_photo__sold__inners SOLD
