= render 'layouts/notifications'
%header.pcHeader
  .UpHeaders
    .Up
      %h1.top-icon
        = link_to root_path do
          = image_tag( src= "material/logo/logo.png", class: 'iconA' )
      .searchBox
        = form_with url: "/", id: 'search_categry', class: 'search_categry', local: true do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
          = image_submit_tag( "material/icon/icon-search 1.png", class: "search-btn" )
    .categories
      %ul.listsLeft
        %li.listsLeft__first
          = link_to categories_path, id: "categoryBtn" do
            %i.fas.fa-bars.category__icon
            カテゴリー
          #tree_menu
            %ul.categoryTree
              - @category_parents.each do |parent|
                %li.category_parent
                = link_to category_path(parent) do
                  %input{type: "button", value: "#{parent.name}", name: "#{parent.id}", class: "parent_btn"}
            %ul.categoryTree-child
            %ul.categoryTree-grandchild
      %ul.Entrance
        %li.Entrance__gate
          - if user_signed_in? 
            = link_to "ログアウト", destroy_user_session_path, method: :delete
            = link_to "マイページ", "/users/#{current_user.id}", method: :get
          - else
            = link_to "新規会員登録", new_user_registration_path, method: :get
            = link_to "ログイン", new_user_session_path, method: :get