.exhibition 
  .exhibition__top
    %a.top__picture
      = image_tag src="/assets/logo.png", size: "185x49", class: "exhibition__pic"
  .exhibition__main
    .exhibition__content
      .back
      %form{:action => "#", :method => "post",class:"form"}
      = form_with model:@item do |f|
        .back
        .form__image
          .form__style
            .form__style__body
              %name.photos
                .style
                  %label
                    出品画像
                  %span.style__tag 
                    必須
              %p.photo__comment
                最大10枚までアップロードできます
              .photo__box
                .box__content
                  %tabindex.tab
                    .tab__box
                      = f.fields_for :images do |image|
                        = image.file_field :url
                        -# %input.tab__file{:type => "file"}/
                        %i.fa.fa-camera
                        %p.box__comment
                          ドラッグアンドドロップ
                          %br
                          またはクリックしてファイルをアップロード
        %hr.border
        .product
          .product__top
            .product__body
              %name.product__name 
                .style
                  %label 
                    商品名
                  %span.style__tag 
                    必須
              .product__name__box
                = f.text_field :name, class: "description__box", placeholder: "40文字まで", maxlength: "40"
                -# .name__area
                  -# %input{:name => "name", :placeholder => "40文字まで", :type => "text", :value => ""}/
          .product__introduction
            .product__introduction__style
              %name.description
                .style
                  %label 
                    商品の説明
                  %span.style__tag 
                    必須
                = f.text_area :introduction, class: "description__box", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          "
                -# %textarea.description__box{:name => "description", :placeholder => "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", :rows => "7"}

              .style__counter
                %span 0/1000
        %hr.border
        .product
          %p 
            商品の詳細
          .menu
            .menu__body
              %name.detail__category
                .style
                  %label
                    カテゴリー
                  %span.style__tag 
                    必須
              .category__select
                = f.collection_select :category_id, @category_parents, :id, :name,{prompt: "選択してください"}, class: "description__box"
                -# .name__area
                -#   %input{:name => "name", :placeholder => "選択してください", :type => "text", :class => "select__box"}/
          .menu
            .menu__body
              %name.detail__category
                .styleB
                  %label
                    ブランド
                  %span.style__tag 
                    任意
              .category__select
                = f.text_field :brand, class: "description__box", placeholder: "例、シャネル", maxlength: "40"
                -# .name__area
                -#   %input{:name => "name", :placeholder => "シャネル", :type => "text", :class => "select__box"}/
          .menu
            .menu__body
              %name.detail__category
                .style
                  %label
                    商品の状態
                  %span.style__tag 
                    必須
              .category__select
                = f.collection_select :condition, Condition.all, :id, :name, {prompt:"選択してください"}, {class:"description__box"}
                -# .name__area
                -#   %input{:name => "name", :placeholder => "選択してください", :type => "text", :value => ""}/
        %hr.border
        .product
          %p 
            配送について
          .menu
            .menu__body
              %name.shipping__payer
                .style
                  %label
                    配送料の負担
                  %span.style__tag 
                    必須
              .category__select
                -# = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"選択してください"}, {class:"name__area"}
                = f.collection_select :shipping_cost_id, Shipping_cost.all, :id, :name, {prompt:"選択してください"}, {class:"description__box"}
                -# .name__area
                -#   %input{:name => "name", :placeholder => "選択してください", :type => "text", :value => ""}/
          .menu
            .menu__body
              %name.shipping__payer
                .style
                  %label
                    発送元の地域
                  %span.style__tag 
                    必須
              .category__select
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"選択してください"}, {class:"description__box"}
                -# .name__area
                -#   %input{:name => "name", :placeholder => "選択してください", :type => "text", :value => ""}/
          .menu
            .menu__body
              %name.shipping__payer
                .style
                  %label
                    発送までの日数
                  %span.style__tag 
                    必須  
              .category__select
                = f.collection_select :shipping_days_id, Shipping_days.all, :id, :name, {prompt:"選択してください"}, {class:"description__box"}
                -# .name__area
                -#   %input{:name => "name", :placeholder => "選択してください", :type => "text", :value => ""}/  
        %hr.border
        .product__bottom
          %p.price__range 
            価格（￥300~9,999,999)
          .price__content
            .price
              %name.price__sale
                .price__box
                  %label
                    販売価格
                    %span.style__tag 
                      必須
                %span
                  ￥
                .price__box__right
                  = f.number_field :price, placeholder: "0"
                  -# %input{:name => "price", :placeholder => "0", :type => "number", :value => ""}/
            .price
              .price__fee
                販売手数料(10%)
              %span.fee__value
                —
            %hr.border__short
            .price
              .price__profit
                販売利益
              %span.fee__value
                —
          .exhibition__bottom
            = f.submit "出品する", class: "button"
            -# %button{:type => "submit", :class => "button"}
            -#   出品する
            %button{:type => "submit", :class => "buttonB"}
              下書きに保存
            %a{ href: '#'}
              .back__home
                もどる
          .caution
            %p.caution__content 
              %p.caution__sentence
                禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
