= render 'items/index_header'
.Main
  .Main__box
    .Main__box__table
      %h1 カテゴリー一覧
      .Main__box__table__menu
        .Main__box__table__menu__table
          %ul.categories
            - @category_parents.each do |parent|
              %li.parents= link_to "・#{parent.name}", category_path(parent)

              %ul.categories_children
                - parent.children.each do |child|
                  %li.children= link_to "#{child.name}", category_path(child)

                  %ul.categories_grandchildren
                    - child.children.each do |grandchild|
                      %li.grandchildren=link_to "#{grandchild.name}", category_path(grandchild)