= render 'items/index_header'
.categoryMain
  .categoryMain__boxes
    .categoryMain__boxes__in
    .categoryMain__boxes__one
      %h1= "#{@category.name}の商品一覧"
      .categoryLists
        .categoryLists__index
          - @items.each do |item|
            .categoryLists__index__categoryList
              = link_to item_path(item.id) do
                %figure.main__img
                  = image_tag item.images[0].url.url, size: "220x150", class: "images"
                  .categoryLists__index__categoryList__body
                    .categoryLists__index__categoryList__body--name
                      = item.name
                    .categoryLists__index__categoryList__body--detail
                      = item.price
                      円
                    %p.fa.fa-star 1
                    %p (税込）
                  -if item.order.present?
                    .items-box_photo__solds
                      .items-box_photo__sold__inners SOLD